<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/blog/save" method="post" th:object="${blog}" th:charset="utf-8">
    <input type="hidden" th:field="*{id}">
    <label th:for="title"> title: </label>
    <input type="text" th:field="*{title}">

    <label th:for="writer"> writer: </label>
    <input type="text" th:field="*{writer}">

    <label th:for="content"> content </label>
    <input type="text" th:field="*{content}">

    <label th:for="dateCreated"> dateCreated: </label>
    <input type="text" th:field="*{dateCreated}">

    <label th:for="category"> category: </label>
    <select th:field ="*{category}">
        <option th:each="item : ${categoryList}" th:value="${item.id}" th:text="${item.name}"></option>
    </select>

    <!--    <input type="text" th:field="*{category}">-->
    <input type="submit" value="Save !">
</form>
</body>
</html>