<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<table border="1">
    <a th:href="@{/blog/create}">
        <button class="btn btn-outline-success" type="submit"> + </button>
    </a>

    <form action="/blog/search" method="post">
        <input type="text" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        >
    </form>

    <p th:text="${mess}"></p>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Content</th>
        <th>Date Created</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,status : ${blogList.content}">
        <td th:text="${status.count }"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.writer}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.dateCreated}"></td>
        <td th:text="${blog.category.name}"></td>
        <td>
            <a th:href="@{/blog/edit/__${blog.id}__}">
                <button type="button" class="btn btn-outline-success">Edit</button>
            </a>

        </td>
        <td>
<!--            <button th:attr="onclick=|getBlogId('${blog.id}','${blog.title}')|" type="button" class="btn btn-primary"-->
<!--                    data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                Delete-->
<!--            </button>-->
<button>Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<div style="text-align: right; margin-right: 150px">
    <a class="btn btn-secondary" th:href="@{/blog(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">
        Previous
    </a>
    <span th:text="${blogList.number + 1 + '/' + blogList.totalPages}"></span>
    <a class="btn btn-primary" th:href="@{/blog(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">
        Next
    </a>
</div>
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <form action="/blog/delete" method="post">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--&lt;!&ndash;                    <input type="text"  th:field="*{id}" id="deleteId" name="deleteId" hidden>&ndash;&gt;-->
<!--                 &lt;!&ndash;   <input id="deleteId" th:field="*{id}" type="hidden" name="deleteId" > &ndash;&gt;-->
<!--                    <span>Bạn có muốn delete blog  </span><span id="deleteTitle" style="color: #a600ff"></span>?-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-primary">Delete</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
</body>

<!--<script>-->
<!--    function infoDelete(id, title) {-->
<!--        document.getElementById("deleteId").value = id;-->
<!--        document.getElementById("deleteTitle").innerText = title;-->
<!--    }-->
<!--</script>-->

</html>